@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

/* CABEÇLHO */

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Passion One", sans-serif;
    font-weight: lighter;
    font-size: 2vw;
    }

    h1 {
        font-size:6em;
        margin: 20px 0px 0px 0px;
        
    }

    h2 {
        font-weight: lighter;
        font-style: italic;
        padding-top: 10px;
        margin-top: 0px;
        font-size: 0.9em;
    }

    /* MAIN */

    p {
        width: 50vh;
        padding: 20px;
        font-size: 2em;
        line-height: 55px;
        width: 50vw;
        font-size: 3vw;
        font-weight: bold;
        
        
    }

    div.imagem {
        height: 500px;;
        box-shadow: inset 11px 23px 57px rgba(0, 0, 0, 0.523);
        
        
    }

    div#img1 {
        background-image: url("../imagens/background001.jpg");
        background-position: right center;
        background-attachment: fixed;
        background-size: cover;
    }

    

    #p1 {
        color: white;
        padding-top: 20px;
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.39);
        transform: translate(4%,28%);
        width: 50vw;
        font-size: 3vw;
    }

    div#img2 {
        background-image: url("../imagens/background002.jpg");
        background-position: left center;
        background-attachment: fixed;
    
    }

    #p2 {
        color: white;
        padding-top: 20px;
        background-color: rgba(0, 0, 0, 0.468);
        transform: translate(4%, 30%);
        width: 50vw;
        font-size: 3vw;
    }


    body {
    margin: 0px;
    
        }

    



/* RODAPÉ */

footer {
    color: white;
    background-color: black;
    margin: 0px;
    
}

h3 { 
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    

}

