@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-variant: small-caps;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

/* ----------------------------------BODY----------------------------------------- */

html, body {
    background-color: gray;
    min-height: 100vh;
    line-height: 30px;
    
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    font-weight: bold;
    
}
section.normal {
    background-color: aliceblue;
}

section.imagem {
    background-color: gray;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.426);
    
}

section.imagem  p {
    background-color: rgba(0, 0, 0, 0.327);
    color: white;
    width: 300px;
}

section#img1 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img2 {
    background-image: url("../imagens/background002.jpg");
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
}

/* ----------------------------- RODAPÉ----------------------------------------- */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}





   